<!-- begin::Page Header -->
<div class="page-header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <h5 class="title mb-0">
                <span class="icon me-2"><i class="fa-solid fa-user-gear"></i>
                </span>
                Sample Form <span class="menu-path">Administration/ Sample Form</span>
            </h5>
        </div>
        <div class="d-flex align-items-center">
            <!-- place action buttons here -->
            <a class="btn btn-success btn-sm me-2">
                <i class="fa-regular fa-floppy-disk"></i>
                Save</a>
            <a class="btn btn-secondary btn-sm">
                <i class="fa-solid fa-rotate-right"></i>
                Reset</a>

        </div>
    </div>
</div>
<!-- end::Page Header -->

<!-- begin::Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-min-ht">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, explicabo. Dolorem aliquam numquam
                    rerum, animi atque consequuntur ullam repellendus error saepe possimus quod inventore vel
                    aspernatur! Ex explicabo magni, sit rerum et ullam aperiam harum, iste natus odit blanditiis
                    doloribus? Facilis, officiis exercitationem quibusdam veritatis voluptate quas reiciendis delectus
                    officia accusantium sequi eius earum nihil excepturi atque perspiciatis enim illo voluptatem ipsum
                    asperiores voluptatibus, sed praesentium. Consequuntur animi voluptates eligendi totam labore iure
                    tempora quo harum dolorum officia odio adipisci consequatur quaerat fuga sunt, sed neque quis magnam
                    nisi id at asperiores nobis tempore in. Laboriosam eaque dicta explicabo iure hic sed ipsam esse
                    officia! Quae itaque at nostrum, libero qui ab. Earum pariatur similique ea? Pariatur dicta sint
                    quam consequuntur rerum, expedita deserunt consequatur sequi a labore doloribus ipsam debitis nihil
                    dolorem! Magnam pariatur praesentium sunt saepe tempora nulla quos. Omnis id cum quam ipsam amet
                    officia atque illo velit eligendi, perspiciatis reiciendis vitae cumque, quia voluptatibus minus
                    nisi commodi voluptates rem consectetur quas possimus molestias quos magni minima? Aliquam libero
                    neque dignissimos, minus dolore nulla maxime, inventore illum non exercitationem repudiandae nihil
                    explicabo. Atque, dolores ea! Nesciunt nostrum illo distinctio doloribus, eius iste consequuntur
                    facere incidunt tempore laborum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cum nostrum laborum reiciendis
                    dolorum quod unde et. Necessitatibus unde, voluptatem culpa mollitia officia maiores cupiditate
                    tempore at sed architecto magni deserunt dolor eaque error, quos delectus, accusantium nulla fugit
                    quaerat quas expedita. Nesciunt iste aut praesentium cupiditate! Incidunt ipsa magnam ex,
                    aspernatur, iure eaque aperiam error illum est nobis atque similique repudiandae harum. Aspernatur
                    eveniet architecto corrupti praesentium. Expedita architecto suscipit itaque ipsam delectus
                    repudiandae quam velit recusandae repellat, nesciunt voluptatibus ut reprehenderit nisi voluptates
                    cum deleniti omnis et officiis laboriosam odio illum facere, unde porro molestias. Fugiat
                    necessitatibus ducimus, suscipit vel earum libero autem! Quae impedit odit alias ducimus dolore.
                    Dolore minima iure quibusdam. Corrupti sed doloremque id ratione minima doloribus obcaecati aliquam
                    quos eos sunt eius nisi ipsa in laudantium non, maxime inventore dolor corporis deleniti. Cumque,
                    iure? Facere, tenetur? Explicabo nemo eligendi iusto nihil labore deleniti illum quidem praesentium
                    modi, totam id error iste voluptatibus non obcaecati velit animi. Enim inventore dignissimos impedit
                    qui quos, odit provident perspiciatis, maxime nulla quibusdam praesentium officia quo aliquam facere
                    natus similique at corporis veritatis. Rerum nobis mollitia, quidem eum nemo dicta at impedit
                    inventore voluptas optio et a eos incidunt.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::Page Body -->