.aside {
    box-shadow: none;
    width: 250px;
    background: var(--bg-200);

    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0 25px;
        height: 55px;
        min-height: 55px;

        .brand-logo {
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            color: var(--main-color);
        }

        img {
            max-width: 45px;
            height: auto;
            margin-right: 10px;
        }


    }

    .sidebar-menu .parent-menu {

        .menu-icon {
            font-size: 15px;
        }
    }

    &:hover {
        .sidebar-menu {
            .list-box {
                overflow-y: scroll;
                padding-right: 4px;
            }
        }
    }
}

.sidebar-active {
    .outer-panel {
        padding-top: 110px;
        padding-left: 250px;
        margin-right: 8px;

        .brand-toggle {
            font-size: 16px;
            color: var(--body-color);

            &:hover {
                color: var(--main-color);
            }
        }
    }

    .header.header-fixed {
        left: 250px;
    }

    .aside {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 98;
    }
}

.sidebar-active.aside-minimize {
    &:not(.aside-minimize-hover) {
        .outer-panel {
            padding-left: 70px;
        }

        .sidebar-menu {
            .parent-menu {
                .menu-icon {
                    margin: auto !important;
                }

                .toggle-icon,
                .menu-label {
                    display: none;
                }
            }

            .child-menu {
                display: none;
            }
        }
    }

    .header {
        left: 70px;
    }

    .page-header {
        left: 70px;
    }

}

.header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    position: relative;
    background: var(--bg-200);
    z-index: 2;

    &.header-fixed {
        height: 55px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 97;
    }

    .header-left {
        display: flex;
        align-items: stretch;
        height: 100%;
        margin: 0;
    }

    .header-right {
        display: flex;
        align-items: stretch;
        padding: 0;

        .btn-menu {
            min-width: 40px;
            background: transparent;
            margin: 0 6px;
            font-size: 16px;
            border: none !important;
            color: var(--icon-color);

            &:hover {
                color: var(--main-color);
                background: var(--main-light);
            }
        }

        .user-container {
            margin: 0 8px;
            cursor: pointer;
            display: flex;

            .user-img {
                background: #cbe2ff;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                margin-left: 5px;
                overflow: hidden;
                border: 2px solid var(--bg-200);
                outline: 1.5px solid var(--main-color);

                img {
                    width: 28px;
                    height: 28px
                }

                &::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: var(--main-color);
                    z-index: 9999;
                    right: 14px;
                    bottom: 38px;
                    position: absolute;
                    border-radius: 50%;
                    border: 2px solid var(--bg-200);
                }
            }

            .user-name {
                align-items: center;
                justify-content: center;
                display: flex;
                margin-right: 8px;
                font-weight: 500;
                color: var(--body-color-100);
                text-transform: capitalize;
            }
        }
    }
}

.aside-minimize {
    &:not(.aside-minimize-hover) {
        .aside {
            width: 70px;
        }

        .brand {
            .brand-logo {

                .logo-text {
                    display: none;
                }

                img {
                    margin: auto !important;
                }
            }

            justify-content: center;

            .brand-toggle {
                .icon {
                    transition: all 0.15s ease;
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.sidebar-active.aside-minimize.aside-minimize-hover {
    .aside {
        width: 250px;
    }

    .outer-panel {
        padding-left: 70px;
    }

    .header {
        left: 70px;
    }
}

.sidebar-active.header-minimize {
    &:not(.aside-minimize-hover) {
        .page-header {
            top: 55px;
            transition: top 0.3s ease;
        }
    }
}

.sidebar-menu {
    flex: 1 0 auto;

    .list-box {
        height: calc(100vh - 90px);
        overflow-y: hidden;
        margin-right: 12px;
        padding-right: 10px;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 8px;
            background: var(--bg-200);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
        }
    }

    .btn-toggle {
        display: inline-flex;
        align-items: center;
        padding: 0.25rem 0.5rem;
        font-weight: 600;
        color: black;
        background-color: transparent;
        border: 0;
        width: 100%;

        .toggle-icon {
            margin-left: auto;
        }
    }

    .btn-toggle-nav {
        margin: 0 1rem 0 1.5rem;
        border-left: 1px solid var(--body-color-100);
        padding-left: 10px;

        a {
            display: inline-flex;
            padding: 10px 4px 10px 12px;
            text-decoration: none;
            width: 100%;
            border-radius: 6px;
            cursor: pointer;
            color: var(--body-color-100);

            &.active,
            &:hover {
                color: var(--main-color);

                .menu-dot {
                    background: var(--main-color);
                }
            }

            .menu-dot {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: var(--body-color-100);
                left: 12px;
                border: 5.5px solid var(--bg-200);
                border-radius: 50%;
                margin-top: 3px;
                z-index: 0;
                margin-left: -30px
            }

            .menu-label {
                margin-left: 14px;
            }
        }
    }


    .parent-menu {
        padding: 8px 12px 8px 14px;
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
        color: var(--body-color-100);
        border-radius: 0 25px 25px 0;

        &.active,
        &:hover {
            color: white;
            background: var(--main-color);

        }
    }

}

.main {
    background: var(--bg-300);
    border-radius: 0;
    padding: 14px 14px;

    .page- {
        &header {
            position: fixed;
            height: 54px;
            top: 55px;
            right: 0;
            transition: top 0.3s ease;
            z-index: 95;
            box-shadow: none;
            margin: 0;
            left: 250px;
            display: flex;
            align-items: center;
            border-top: 1px solid var(--border-color);
            background-color: var(--bg-200);

            h5.title {
                font-size: 15px;
                color: var(--header-color);

                .menu-path {
                    font-size: 11px;
                    color: #7E8299;
                    margin-left: 1rem;
                    padding-left: 1rem;
                    font-weight: 500;
                    border-left: 1px solid #c4cad1;
                }
            }
        }

    }
}

//added
.menu-item-div:hover {
    .parent-menu {
        color: white;
        background: var(--main-color);
    }
}